body {
    background-color: yellow;
    text-align: center;
}
h1 {
    color: red;
}
h2 {
    color: orange;
}
h3 {
    color: blue;
}
h4 {
    color: black;
}
header {
    text-align: center;
    padding: 3px;
    background-color: lime;
    color: black;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: lime;
    color: black;
}
table.center {
    margin-left: auto; 
    margin-right: auto;
}
div.FirstDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
}
div.SecondDiv {
    border: 5px outset orange;
    background-color: lightblue;    
    text-align: center;
}
div.ThirdDiv {
    border: 5px outset blue;
    background-color: lightblue;    
    text-align: center;
}